XC32/Documents/PIC32MM USB Curiosity Development Board - RGB Color Mixing Demo/
XC32/Documents/PIC32MM USB Curiosity Development Board - RGB Color Mixing Demo.zip
XC32/Examples/LEDs.X/build/
XC32/Examples/LEDs.X/dist/
XC32/Examples/Timer1.X/build/
XC32/Examples/Timer1.X/dist/default/production/
XC32/Examples/Timer1.X/nbproject/
XC32/Examples/Timer1.X/Makefile
XC32/Examples/Timer1.X/dist/default/debug/

XC32/PIC32MX470F512H/Examples/Timers.X/.generated_files/
XC32/PIC32MX470F512H/Examples/Timers.X/build/default/production/
XC32/PIC32MX470F512H/Examples/Timers.X/dist/default/production/
XC32/PIC32MX470F512H/Examples/LED/LED.X/.generated_files/
XC32/PIC32MX470F512H/Examples/Timers.X/build/
XC32/PIC32MX470F512H/Examples/Timers.X/dist/default/debug/
XC32/PIC32MX470F512H/Examples/WDT_Timer.X/.generated_files/
XC32/PIC32MX470F512H/Examples/WDT_Timer.X/build/
XC32/PIC32MX470F512H/Examples/WDT_Timer.X/dist/default/production/
XC32/PIC32MX470F512H/Examples/WDT_Timer.X/nbproject/private/private.xml
XC32/PIC32MX470F512H/Examples/UART.X/build/default/
XC32/PIC32MX470F512H/Examples/UART.X/dist/default/production/
XC32/PIC32MX470F512H/Examples/UART.X/.generated_files/
XC8/Examples/gpio_out.X/build/
XC8/Examples/gpio_out.X/dist/default/debug/
XC8/Examples/gpio_out.X/dist/default/production/
XC8/Examples/gpio_out.X/nbproject/private/
XC8/Examples/project_example.X/build/default/debug/
XC8/Examples/project_example.X/nbproject/private/
XC8/Examples/project_example.X/dist/default/debug/
XC8/Examples/gpio_out.X/nbproject/*.xml
XC8/Examples/gpio_out.X/nbproject/*.mk
XC8/Examples/gpio_out.X/nbproject/Makefile-genesis.properties
XC8/Examples/gpio_out.X/*.log
XC8/Examples/gpio_out.X/*.log.inx
XC8/Examples/gpio_out.X/Makefile
